body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif !important;
    background-image: url("images/table.png");
    background-size: cover !important;
    font-weight: bold !important;
    color: white !important;
    text-align: center !important;
    height: 100vh;
    display: flex;
}

.container {
    margin: auto;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}